* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #0B0F17;
    color: #ccc;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 70px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    font-size: 0.6em;
}

.footer-section.about {
    text-align: center;
}

.footer-section.about img {
    margin: 0 auto;
    display: block;
}

.footer-section.about h1 {
    margin-top: 5px;
    font-size: 1.3em;
}

.footer-section.about p {
    margin: 5px 0;
    font-size: 0.8em;
}

.footer-section h4 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
}



.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-logo {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.app-links img {
    width: 90px;
    margin: 5px 0;
}

.footer-separator {
    width: 90%;
    max-width: 700px;
    height: 0.7px;
    background-color: #242C3E;
    margin: -20px auto -20px auto;
}

.footer-bottom {
    background-color: #0B0F17;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;

}

.footer-bottom a {
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;
    font-size: 9px;
}

.footer-bottom a:hover {
    color: #fff;
}
